.freshlife-holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__block {
    display: flex;
    flex-direction: column;
    max-width: 360px;
  }

  &__title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 60px;
    padding: 15px 15px 30px 15px;
  }

  &__text-holder {
    padding: 15px;
  }

  &__text {
    font-family: "Raleway", sans-serif;
    font-weight: $light;
    font-size: 17px;
    padding-bottom: 30px;
  }

  &__button-holder {
    padding-left: 15px;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6033;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding: 15px;
    transition: 0.7s;
  }

  &__button:hover {
    background-color: violet;
  }

  &__mouse-button-holder:hover {
    transform: scale(1.1);
  }
}

.mouse-btn-holder {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  &__link {
    transition: all ease-in-out 0.6s;
  }

  &__link:hover {
    opacity: 0.5;
  }
}
